@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.like-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.like-button svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: transparent;
  stroke: #e36521;
  transition: fill 0.3s ease;
}

.like-button:hover svg {
  fill: #e36521;
}

.liked .like-button svg {
  fill: #e36521;
}

.liked .like-button:hover svg {
  fill: transparent;
}
